# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo

# Virtual Environments
.env
.venv
venv/
env/

# IDE / Editor folders
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Test artifacts
*.log
